.navbar-brand h1{
	color: black;
	margin:0px;
}
nav>div{
	background-color: grey;
}
.navbar-header{
	padding-bottom: 5px;
}
h1{
	text-align: center;
  margin-bottom: 30px;
}
#icon{
	background-color: black;
	border: 1px solid black;
}
#navlist a{
  color: black;
  text-align: center;

}
.navbar-collapse{
  background-color: grey;
}
#list{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 0px;
  border-left: 0px;

}

#navlist a:hover{
  background-color: lightgrey;

}
#chicken{
  background-color: grey;
  height: 1000px;
  margin-right:50px;
  margin-left:50px;
  margin-bottom: 20px;

}
p{
  text-align: center;
  color: black;
  font-size: 2em;
}



@media (max-width: 768px){
  .navbar-collapse{
  background-color: white;
}
#list{
  border: 1px solid black;
}

  


