.navbar-brand h1{
	color: black;
	margin:0px;
  font-size: 4em;
}
nav>div{
	background-color: grey;
}
.navbar-header.navbar-header{
	
 padding-bottom: 40px;

}
#Menu{
	text-align: center;
  margin-bottom: 30px;
  font-size: 4em;
}
#icon{
	background-color: black;
	border: 1px solid black;
}
#navlist a{
  color: black;
  font-size: 2em;
  

}
.navbar-collapse{
  background-color: grey;
}
#list{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 0px;
  border-left: 0px;
}

#navlist li:hover{
  background-color: lightgrey;

}
#sections{
 
  padding-left: 80px;
  padding-right: 40px;
}

section>div{
  width: 95%;
  background-color: grey;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
}

section>div>div{
  text-align: center;
  color: black;
  font-size: 3em;
}
section>div>a>p{
  font-size: 2em;
  position: absolute;
  bottom: 0px;
  right: 0px;

}

@media (max-width: 767px){
  .navbar-collapse{
  background-color: white;
}
#list{
  border: 1px solid black;
}

  


